name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Build with Maven
        run: mvn clean package -DskipTests

      - name: Set up environment
        run: |
          echo "AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}" >> $GITHUB_ENV
          echo "AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}" >> $GITHUB_ENV
          echo "AWS_REGION=your-region" >> $GITHUB_ENV

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build and push Docker image
        run: |
          export ECR_REPOSITORY=${{ steps.login-ecr.outputs.registry }}/your-ecr-repo-name
          export VERSION_TAG=$(echo $GITHUB_SHA | head -c7)
          docker build -t $ECR_REPOSITORY:$VERSION_TAG .
          docker push $ECR_REPOSITORY:$VERSION_TAG

      - name: Install and configure AWS CLI
        run: |
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip awscliv2.zip
          sudo ./aws/install
          aws eks update-kubeconfig --region $AWS_REGION --name your-eks-cluster-name

      - name: Deploy to Amazon EKS
        run: |
          export VERSION_TAG=$(echo $GITHUB_SHA | head -c7)
          envsubst < k8s/kustomization.tmpl.yaml > k8s/kustomization.yaml
          kubectl kustomize k8s | kubectl apply -f -
